<style>
  :host {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
  }
</style>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="main-side-nav">
    <div class="flex-row">
      <mat-icon class="material-symbols-outlined">
        person
        </mat-icon>
        <p class="side-nav-header">User Roles</p>
    </div>
    <hr>
    <mat-action-list>
      <button mat-list-item (click)="instructorView();" *ngIf="isVisible === true">Instructor</button>
      <button mat-list-item (click)="clickSubmissionButton()" *ngIf="isVisible === true">Submissions</button>
      <button mat-list-item (click)="getFunctionList();" *ngIf="isVisible === false || initialVisibility === true">Student</button>
    </mat-action-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div class="nav-bar">
      <button mat-button (click)="sidenav.toggle()">
      <mat-icon class="material-symbols-outlined">
      menu
      </mat-icon>
      </button>

    <div id="g_id_onload"
      data-client_id="233785506174-afr3jl8psc7855kejbnih3umpi1jcj2e.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-callback="handleCredentialResponse"
      data-itp_support="true"
      data-auto_prompt="false"
      data-auto_select="true">
    </div>

    <div class="profile-container">
      <img *ngIf="isUserSignedIn" [src] = "profileImg" alt="user-image" class="profile-img">
          <ng-container *ngIf="!isUserSignedIn">
            <div 
              class="g_id_signin"
              data-type="standard"
              data-shape="pill"
              data-theme="filled_blue"
              data-text="signin_with"
              data-size="large"
              data-logo_alignment="left"
              (click)="signInHandler();"
              #loginRef>
            </div>
          </ng-container>
        <mat-spinner *ngIf="signOutProgress === true" [diameter]="24" [strokeWidth]="2"></mat-spinner>
        <button mat-raised-button (click)="signOut()" color="warn" class="sign-out" *ngIf="isUserSignedIn">Sign Out</button>
      </div>    
    </div>


    
    <div class="main" >
      
      <div *ngIf="submissionView" class="submission-container">
    
        <table mat-table matSort [dataSource]="dataSourceNew" class="mat-elevation-z8">
        
          <!-- UserName Column -->
          <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UserName </th>
            <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
          </ng-container>
        
          <!-- Grade Column -->
          <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Grade </th>
            <td mat-cell *matCellDef="let element"> {{element.grade}}% </td>
          </ng-container>
        
          <!-- Code Column -->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary" (click)="viewCode(element.studentCode)">View Code</button>
            </td>
          </ng-container>
        
          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>        
      </div>

      <div class="split-pane-container" >
  
        <as-split direction="horizontal" #mySplitA >
          <as-split-area [size]="40" [minSize]="25" [maxSize]="70">
            <as-split>
              <as-split-area>
               

                <div *ngIf="instructorViewBoolean===true">

                  <div class="description-text">
                    <strong>Description:</strong>
                  </div>
                  
                  <ckeditor #myEditor [editor]="editor" [config]="config"></ckeditor>
                </div>

                <div *ngIf="instructorViewBoolean===false">
                  <h3>Description</h3>
                  <p [innerHTML]="content"></p>
                </div>
        
              </as-split-area>
            </as-split>
          </as-split-area>

          <as-split-area [size]="60" class="code-area">
            <as-split direction="vertical">

              <as-split-area [size]="70" class="disable-auto-scroll">
              <mat-toolbar class="toolbar">

                <mat-form-field appearance="fill">
                  <mat-label>Theme</mat-label>
                  <mat-select [(value)]="selectedTheme">
                    <mat-option *ngFor="let theme of themes" [value]="theme.value" (click)="themeHandler($event)" >
                      {{theme.label}}
                    </mat-option>
                  </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Language</mat-label>
                    <mat-select [(value)]="selectedLanguage">
                      <mat-option  [value]="selectedLanguage">
                        Java
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field *ngIf="instructorViewBoolean">
                    <mat-label>Due By:</mat-label>
                    <input matInput [ngxMatDatetimePicker]="picker" (dateChange)="selectDate($event)" [formControl]="deadlineDate">
                    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                       [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [enableMeridian]="true" 
                       [disableMinute]="false">
                    </ngx-mat-datetime-picker>
                 </mat-form-field>

                 <p class="deadline-date" *ngIf="instructorViewBoolean === false && this.deadline !== 'undefined'">Due by: {{this.deadline}}</p>
              
                </mat-toolbar>

                 <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" preserveContent="true" class="sticky-tabs">
                   <mat-tab>
                     <ng-template mat-tab-label>
                       {{fileName+extOfFileName}}
                       <mat-icon class="example-tab-icon" (click)="updateFileName();">edit</mat-icon>
                     </ng-template>
                     <mat-progress-bar mode="determinate" [value] = "progressBarNum" [bufferValue]="100" class="progress-bar"></mat-progress-bar>
                     <div id="editorContainer" #editorContainer>
                      <div class="code-editor" #codeEditor></div>
                     </div>
                   </mat-tab>
                   
                   <mat-tab *ngIf="fileNameEdit === true" disabled>
                     <ng-template mat-tab-label>
                       <span>Edit</span>
                       <mat-form-field class="example-form-field">
                       <input  matInput type="text" [(ngModel)]="fileName">
                       <button *ngIf="fileName" matSuffix mat-icon-button aria-label="Clear" (click)="fileName=''">
                         <span class="unit">{{extOfFileName}}</span>
                         <mat-icon>close</mat-icon>
                       </button>
                     </mat-form-field>
                     <button (click)="saveFileName(fileName);" class="edit-btn"><mat-icon>check</mat-icon></button>
                     </ng-template>
                   </mat-tab>
                  
                  
                
         
                   <ng-container *ngIf="instructorViewBoolean === true">
                       <mat-tab>
                         <ng-template mat-tab-label>
                           {{fileName+extOfTestFileName}}
                         </ng-template>
                         <mat-progress-bar mode="determinate" [value] = "progressBarNum" [bufferValue]="100" class="progress-bar"></mat-progress-bar>
                         <div class="code-editor" #codeEditorTest></div>
                       </mat-tab>
                   </ng-container>
                 </mat-tab-group>
              </as-split-area>

              <as-split-area [size]="testCaseSplitSize" id="flex-auto" *ngIf="this.isResultContainerVisible" [maxSize]="70" >
            
                <div class="overlay" *ngIf="compileProgress === true">
                  <p>Your code has been submitted</p>
                  <mat-spinner></mat-spinner>
                  <p>Grading...</p>
                </div>
             
                <div *ngIf="codeResponse?.status === 'COMPILE_ERROR' && compileProgress === false">
                  <p style="color:red">COMPILE ERROR</p>
                  <p class="test-result red" [innerHTML]="codeResponse?.output"></p>
                </div>

                <mat-sidenav-container class="parent-container-results" *ngIf="codeResponse?.status !== 'COMPILE_ERROR' && compileProgress === false">
                  <mat-sidenav mode="side" opened class="example-sidenav" [opened]="true">
                    <mat-nav-list *ngFor="let testCaseGroup of this.codeResponse?.testCaseGrouped">
                      <mat-list-item [ngClass]="{'test-case-pass': testCaseGroup.parentStatus===false, 
                      'test-case-fail': testCaseGroup.parentStatus===true }"(click)="selectTestGroup(testCaseGroup.testCaseList, testCaseGroup);">
                      <p>
                        <span [matBadgeHidden]="testCaseGroup?.parentNumberOfFailedTest===0" [matBadge]="testCaseGroup?.parentNumberOfFailedTest" matBadgeColor="warn"  matBadgeOverlap="false" matBadgePosition="above after">
                          {{testCaseGroup?.name}}
                        </span>
                      </p>
                      </mat-list-item>
                    </mat-nav-list>
                  </mat-sidenav>
          
                  <mat-sidenav-content>
                    <mat-sidenav-container>
                      <mat-sidenav mode="side" opened class="example-sidenav" [opened]="true">
                        <p class="no-of-test-cases">{{ testGroup?.parentNumberOfPassedTest}}/{{testCaseResult?.length}} testcases passed</p>
                          <mat-nav-list *ngFor="let testCase of this.testCaseResult; let index = index">
                            <mat-list-item [ngClass]="{'test-case-pass': testCase.status==='[OK] SUCCESSFUL', 
                            'test-case-fail': testCase.status==='[X] FAILED'}" (click)="selectTestNumber(testCase)">
                              <div class="test-case-menu-option"> 
                                <span *ngIf="testCase.status==='[OK] SUCCESSFUL'" class="material-symbols-outlined">
                                  <mat-icon>task_alt</mat-icon>
                                </span>
                                <span *ngIf="testCase.status==='[X] FAILED'" class="material-symbols-outlined">
                                  <mat-icon>close</mat-icon>
                                </span>
                                <span>Test case {{index + 1}}</span>
                              </div>
                            </mat-list-item>
                          </mat-nav-list>
                      </mat-sidenav>      
                
                      <mat-sidenav-content>
                        <div *ngIf="testResult" class="test-case-result">
                          <p>Input:</p>
                          <p class="test-result">{{testResult.argument}}</p> 
                          <p class="caught" *ngIf="testResult.caught">{{testResult.caught}}</p> 
                          <div>
                            <p>Expected Output:</p>
                            <p class="test-result" >{{testResult.expectedOutput}}</p>
                            <p>Your Output: </p>
                            <p class="test-result">{{testResult.actualOutput}}</p>
                          </div>
                            <!-- <p  [ngClass]="{'pass': testResult.status==='[OK] SUCCESSFUL', 
                                'caught': testResult.status==='[X] FAILED'}">{{testResult.status}}</p> -->
                        </div>
                      
                      </mat-sidenav-content>
                    </mat-sidenav-container>
                  </mat-sidenav-content>
                </mat-sidenav-container>

              </as-split-area>
            </as-split>

            <mat-toolbar class="submit-section">
              <button mat-raised-button (click)="toggleConsole();" class="console">
                <mat-icon *ngIf="!this.isResultContainerVisible" class="material-symbols-outlined">
                expand_less
                </mat-icon>
                <mat-icon *ngIf="this.isResultContainerVisible" class="material-symbols-outlined">
                  expand_more
                  </mat-icon>
                <span>Console</span>
              </button>
              <button mat-raised-button [disabled]="codeResponse?.status === 'COMPILE_ERROR' || diffEditorButton === false" 
              *ngIf="this.instructorViewBoolean === false" (click)="openDialog()"  class="console">Diff Editor</button>
                <p *ngIf="instructorViewBoolean===false && codeResponse?.score > -1 && codeResponse?.status !== 'COMPILE_ERROR'" 
                  [ngClass]="{'score-green': codeResponse?.score >= 80,  
                  'score-yellow': 79 >= codeResponse?.score && codeResponse?.score >= 60,
                  'score-red': codeResponse?.score <= 59 && codeResponse?.score <= 0.0}">
                  Score:{{this.codeResponse?.score}}%
                </p>

             
                <div class="flex-row white padded">
                  <mat-icon  *ngIf="instructorViewBoolean === false" matTooltip="Score decrements by 10% per day upto 3 days for submission after the deadline" class="material-symbols-outlined padded">info</mat-icon>
                  <button mat-raised-button (click)="submitCode();" class="submit-code" [disabled]="submittedStatus && instructorViewBoolean === false" >Submit</button>
                </div>
              
            </mat-toolbar>

          </as-split-area>
    
        </as-split>
      </div>

      
    </div>
    
  </mat-sidenav-content>

</mat-sidenav-container>



